# ======================
# Maven
# ======================
/target/
application.properties

# ======================
# Eclipse
# ======================
.metadata/
.settings/
.project
.classpath
.factorypath

# ======================
# Logs
# ======================
*.log

# ======================
# OS files
# ======================
.DS_Store
Thumbs.db

# ======================
# IntelliJ (optional)
# ======================
.idea/
*.iml

# ======================
# VS Code (optional)
# ======================
.vscode/

# ======================
# Env files (important)
# ======================
.env